<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Posts</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Create New Posts</h1>
    <form action="/posts" method="post">
        <input type="text" placeholder="Enter Username" name="username" required> <br>
        <input type="password" placeholder="Enter Password" name="password" required><br><br>
        <textarea name="content" placeholder="Enter Content"></textarea>
        <button>Submit Post</button>
    </form>
</body>
</html>