<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Details</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2>Here is your Post in Detail</h2>
    <h3>id: <%= post.id %></h3>
    <div class="posts">
        <h4 class="user">@<%= post.username %></h4>
        <h5 class="content"><b>Content: </b><%= post.content %></h5>
        <a href="/posts">Go back</a>
    </div>
</body>
</html>
